<a href="https://colab.research.google.com/github/MichaelDavisBaskaran/Movie-Recommendation-Engine/blob/main/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# get ratings data
!wget https://www.dropbox.com/s/zpjqx685em4hllf/ratings.csv

In [2]:
#use pandas to get access and read data from file
import pandas as pd

ratingDetail = pd.read_csv('ratings.csv')

ratingDetail.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
# get movies data

!wget https://www.dropbox.com/s/9vk3xh99pt5f27l/movies.csv

In [4]:
import pandas as pd

movieDetail = pd.read_csv('movies.csv')

movieDetail.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]