<a href="https://colab.research.google.com/github/MichaelDavisBaskaran/Movie-Recommendation-Engine/blob/main/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# get data
!wget https://www.dropbox.com/s/zpjqx685em4hllf/ratings.csv

In [2]:
#use pandas to get access and read data from file
import pandas as pd

ratingDetail = pd.read_csv('ratings.csv')

ratingDetail.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931